.container {
	.content {
		display: flex;
		justify-content: center;

		.contentContainer {
			max-width: 1024px;
			margin: 20px;

			.sortingButtons {
				margin-bottom: 1em;
			}

			.paginationLinks {
				padding: 0 10px;
			}
		}
	}
}
