.container {
	.content {
		display: flex;
		justify-content: center;

		.contentContainer {
			max-width: 992px;
			margin: 20px 40px;

			.sortingButtons {
				margin-bottom: 1em;
			}

			.paginationLinks {
				padding: 0 10px;
			}
		}
	}
}
