.pagination {
	.paginationContainer {
		display: flex;
		height: 40px;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		margin: 40px 0;
	}

	.next,
	.previous {
		display: flex;
		width: 140px;
		justify-content: center;
		align-items: center;
		color: #fafafa;
		font-size: 1.2em;
		background-color: #222;
		padding: 5px 10px;
		cursor: pointer;

		@media screen and (max-width: 480px) and (min-width: 0) {
			width: 100px;
		}

		.paginationNext,
		.paginationPrevious {
			width: 100%;
			outline: none;

			.prevButtonSpan {
				display: grid;
				grid-template-columns: auto 1fr;
				justify-content: center;

				.prevButtonIcon {
					justify-self: flex-start;
				}

				.prevButtonText {
					justify-self: center;
				}
			}

			.nextButtonSpan {
				display: grid;
				grid-template-columns: 1fr auto;
				justify-content: center;

				.nextButtonText {
					justify-self: center;
				}

				.nextButtonIcon {
					justify-self: flex-end;
				}
			}
		}
	}

	.paginationActive {
		a {
			outline: none;
			font-size: 2em;

			@media screen and (max-width: 480px) and (min-width: 0) {
				font-size: 1.5em;
			}
		}
	}
}
