@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading {
  background: url("https://frantic.s3-eu-west-1.amazonaws.com/star-wars-header.jpg") 50% no-repeat;
  background-size: cover;
  height: 70vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading .headingText {
  color: #fafafa;
  text-shadow: 1px 1px 2px #222;
  font-size: 3em;
  text-transform: uppercase;
  padding: 1em;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .heading .headingText {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .heading .headingText {
    font-size: 2.6em;
  }
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content .contentContainer {
  max-width: 1024px;
  margin: 20px 40px;
}

.container .content .contentContainer .sortingButtons {
  margin-bottom: 1em;
}

.container .content .contentContainer .paginationLinks {
  padding: 0 10px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .sort {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sort .sortHeading h3 {
  text-transform: uppercase;
  font-size: 1.3em;
}

.sort .sortButtons .notActiveTitle,
.sort .sortButtons .notActiveYear {
  border: none;
  background-color: transparent;
  font-family: "BenchNine", sans-serif;
  color: #888;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1em;
  outline: none;
}

.sort .sortButtons .activeTitle,
.sort .sortButtons .activeYear {
  border: none;
  background-color: transparent;
  font-family: "BenchNine", sans-serif;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1em;
  outline: none;
}

.gridItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .gridItem {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .gridItem {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.gridItem .gridCard {
  text-align: center;
  padding: 0 10px;
  margin: 20px 0;
  max-width: 220px;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .gridItem .gridCard {
    max-width: 180px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .gridItem .gridCard {
    max-width: 200px;
  }
}

.gridItem .gridCard .posterContainer .imdbLink {
  color: #111;
  cursor: pointer;
}

.gridItem .gridCard .posterContainer .imdbLink .poster {
  height: 320px;
  width: 100%;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .gridItem .gridCard .posterContainer .imdbLink .poster {
    height: 220px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .gridItem .gridCard .posterContainer .imdbLink .poster {
    height: 260px;
  }
}

.gridItem .gridCard .movieDetails {
  height: 100px;
  padding: 10px;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .gridItem .gridCard .movieDetails {
    height: 120px;
  }
}

.gridItem .gridCard .movieDetails .movieYear {
  color: #888;
  font-size: 1.1em;
  font-weight: 300;
}

.gridItem .gridCard .movieDetails .movieTitle {
  color: #111;
  font-size: 1.3em;
}

.pagination .paginationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 40px 0;
}

.pagination .next,
.pagination .previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  font-size: 1.2em;
  background-color: #222;
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .pagination .next,
  .pagination .previous {
    width: 100px;
  }
}

.pagination .next .paginationNext,
.pagination .next .paginationPrevious,
.pagination .previous .paginationNext,
.pagination .previous .paginationPrevious {
  outline: none;
}

.pagination .paginationActive a {
  outline: none;
  font-size: 2em;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .pagination .paginationActive a {
    font-size: 1.5em;
  }
}

.App {
  font-family: "BenchNine", sans-serif;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}
/*# sourceMappingURL=App.css.map */