// Import fonts
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400&display=swap");

// Import base styles
@import "base/root";

// Import component layouts
@import "layout/heading";
@import "layout/container";
@import "layout/sort";
@import "layout/griditem";
@import "layout/pagination";

.App {
	font-family: "BenchNine", sans-serif;
	cursor: default;
	-webkit-font-smoothing: antialiased;
}
